*{
  font-family: Barlow Semi Condensed, Bold Italic, serif;
}

.example-sidenav {
    padding: 0;
    height: 100%;
    width: 5vw;
    background: white;
    border-radius: 0 33px 33px 0;
  }

 .mat-drawer-container {
    width: 100%;
    height: 80vh;
    background: #F0F0F0;
    color: black;
  }

.btn-lat-bar{
    background: red;
  }

  .example-sidenav-content{
    position:fixed;
    /* -webkit-box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75); */
    height: 100vh;
    width: 80vw;
    border-radius: 0 33px 33px 0;

  }

  .example-sidenav-content button{
    text-align: center;
    background: transparent;
    margin: 0;
    padding:0;
    font-size: 20px;
    writing-mode: vertical-lr;
    transform: rotate(270deg);
  }


  .mat-drawer-container .list-administrator ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 20px;
  }

  .mat-drawer-container .list-administrator ul li a:hover{
    background: #FFE867;
    border-radius: 5px;
  }

  .mat-drawer-container .list-administrator ul li {
    list-style: none;
  }

  .mat-drawer-container div .administrator {
    font-size: 20px;
    /*font-weight: 2000px;*/
  }


  .example-container{
    width: 80vw;
    height: 100vw;
  }


  button{
    border: none;
    /* margin: 0;
    height: 20%; */
    padding: 0;
    background: #C9C9C9;
}

div .mdl-button--raised{
    height: 80px;
    width: 80px;
    padding: 0;
}

div .rectangule{
    height: 80px;
    width: 100px;
}

.mat-drawer-container .example-sidenav-content .button-administrator{
  border:2px solid white;
  border-radius: 0 70px 70px 0;
  width: 8vw;
  height: 100vh;
  background: white;

}

.button-administrator{
  background: white;
  font-size: 20px;
  font-weight: bold;
}
