<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700&display=swap" rel="stylesheet">

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav  class="example-sidenav" [mode]="mode" opened="{{this.estaLogeado()}}" fxLayout = "column"  fxLayoutAlign = "space-around start">
    <div fxLayout = "column"  fxLayoutAlign ="center center" class="bar-administrator">
      <img src="./assets/logo.png" alt="">
      <button class = "button-administrator" type="button"  (click)="sidenav.toggle()" fxLayout = "row"  fxLayoutAlign = "center start">
        ADMINISTRADOR
      </button>
    </div>
    <br>
    <!-- Lista de enlaces de la sidenav -->
    <div class="list-administrator" fxLayout = "row"  fxLayoutAlign = "space-around start">
      <ul fxLayout = "column"  fxLayoutAlign="space-around start">
        <li><a href="">Estadísticas</a></li>
        <li><a href="">Inventario</a></li>
        <li><a href="">Calendario</a></li>
        <li><a href="">Menú</a></li>
        <li><a href="">Staff</a></li>
        <li><a href=""  type="button" (click)="logout()" ><u><em>Cerrar Sesión</em></u></a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <!-- Efecto de deslizamiento sidenav -->
    <div class="example-sidenav-content"  fxLayout = "row"  fxLayoutAlign ="center">
      <div class="button-administrator" fxLayout = "row"  fxLayoutAlign = "center">
        <div class= "container-button" fxLayout= "column" fxLayoutAlign = "center">
          <button type="button"  (click)="this.estaLogeado() === false ? openDialog() : sidenav.toggle() " >
            ADMINISTRADOR
          </button>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="buttons-right">
</div>





