<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <div>
    <img src="./assets/logo.png" alt="">
    <p class="administrator">ADMINISTRADOR</p>
  </div>

<div class="list-administrator">
  <ul>
    <li><a href="">Estadísticas</a></li>
    <li><a href="">Inventario</a></li>
    <li><a href="">Calendario</a></li>
    <li><a href="">Menú</a></li>
    <li><a href="">Staff</a></li>
    <li><a href="">Cerrar Sesión</a></li>
  </ul>
</div>
  </mat-drawer>

  <div class="example-sidenav-content" fxLayout = "row"  fxLayoutAlign = "start center">
    <button class = "nav" type="button"  (click)="drawer.toggle()">
      ADMINISTRADOR
    </button>
  </div>

</mat-drawer-container>


