<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <div>
    <img src="./assets/logo.png" alt="">
    <p class="administrator">ADMINISTRADOR</p>
  </div>

<!-- Lista de enlaces de la sidenav -->
<div class="list-administrator">
  <ul>
    <li><a href="">Estadísticas</a></li>
    <li><a href="">Inventario</a></li>
    <li><a href="">Calendario</a></li>
    <li><a href="">Menú</a></li>
    <li><a href="">Staff</a></li>
    <li><a href="">Cerrar Sesión</a></li>
  </ul>
</div>
  </mat-drawer> 

  <!-- Efecto de deslizamiento sidenav -->
  <div class="example-sidenav-content" fxLayout = ""  fxLayoutAlign = "">
    <button class = "nav" type="button"  (click)="drawer.toggle()">
      ADMINISTRADOR
    </button>

<ng-content></ng-content>
  </div>
  <!-- <div class="mesas"> -->
    <!-- Botones de barra superior de barra con Layout -->
<!-- <div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-circule">
    <button class="mdl-button mdl-button--fab" id="change-color">1</button>
    <button class="mdl-button mdl-button--fab">2</button>
    <button class="mdl-button mdl-button--fab">3</button>
    <button class="mdl-button mdl-button--fab">4</button>
</div>
<br>
<br> -->
<!-- Botones de mesas -->
<!-- <div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-square">
    <button class="mdl-button mdl-button--raised">Mesa 1</button>
    <button class="mdl-button mdl-button--raised">Mesa 2</button>
</div>
<br>
<br> -->
<!-- Boton de mesa del centro -->
<!-- <div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-square-bg">
    <button class="mdl-button mdl-button--raised rectangule">Mesa 3</button>
</div>
<br>
<br> -->
<!-- Botones de barra inferior -->
<!-- <div  fxLayout = "row"  fxLayoutAlign = "center center">
    <button class="mdl-button mdl-button--fab">5</button>
    <button class="mdl-button mdl-button--fab">6</button>
    <button class="mdl-button mdl-button--fab">7</button>
    <button class="mdl-button mdl-button--fab">8</button>
    <button class="mdl-button mdl-button--fab">9</button>
    <button class="mdl-button mdl-button--fab">10</button>
    <button class="mdl-button mdl-button--fab">11</button>
    <button class="mdl-button mdl-button--fab">12</button>
</div>
<br>
<br> -->
<!-- Botones de mesas de pantalla inferior -->
<!-- <div  fxLayout = "row"  fxLayoutAlign = "center center">
    <button class="mdl-button mdl-button--raised">Mesa 4</button>
    <button class="mdl-button mdl-button--raised">Mesa 5</button>
</div>
</div> -->



</mat-drawer-container>


