
*{
  font-family: Barlow Semi Condensed, Bold Italic, serif;
}

.example-sidenav {
  padding-top: 16vh;
  height: 100%;
  width: 13rem;
  background: #F7F7F7;
  border-radius: 0 68px 68px 0;
  }

 .mat-sidenav-container {
    width: 100vw;
    height: 70vh;
    background: #F0F0F0;
    color: black;
  }


  .example-sidenav-content{
    position:fixed;
    /* -webkit-box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:5px 0px 5px 0px rgba(50, 50, 50, 0.75);
    height: 100vh;
    width: 80vw;
    border-radius: 0 33px 33px 0;*/

  }

  .example-sidenav-content button{
    text-align: center;
    background: transparent;
    margin: 0;
    padding:0;
    writing-mode: vertical-lr;
    transform: rotate(270deg);
    font-size: 1em ;
    font-weight: bold;
  }


  .mat-sidenav-container .list-administrator ul li a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1.3em;
  }

  .mat-sidenav-container .list-administrator ul li a:hover{
    background: #FFE867;
    border-radius: .5em;
  }

  .mat-sidenav-container .list-administrator ul li {
    list-style: none;
    padding-bottom: 1.2em;
    font-family: Barlow Semi Condensed, sans-serif;
    font-size: 1.15em;
    color: black;
    font-weight: bold;
  }

.mat-sidenav-container .list-administrator ul{
  padding: 0;
}

  .mat-sidenav-container div .administrator {
    font-size: 1.3em;
    display: flex;
  }


  .example-container{
    width: 100vw;
    height: 100vh;
  }


  button{
    border: none;
    /* margin: 0;
    height: 20%; */
    padding: 0;
    background: #C9C9C9;
}

div .mdl-button--raised{
    height: 80px;
    width: 80px;
    padding: 0;
}

div .rectangule{
    height: 5em;
    width: 6.25em;
}

.mat-sidenav-container .example-sidenav-content .button-administrator{
  border:2px solid white;
  border-radius: 0 70px 70px 0;
  width: 6.67vw;;
  height: 100vh;
  background: white;
  box-shadow: 0px 3px 3px #00000029;
}

.button-administrator {
  background: #F7F7F7;
  font-size: 1.45em;
  font-weight: bold;
}


.bar-administrator img {
  padding-bottom: 2.68em;
  width: 32.2%;

}

