<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, ratione! Quasi quas, sit excepturi sequi officiis
  laboriosam incidunt alias fugit doloremque eum sint cum, aliquid aspernatur! Eius quia necessitatibus porro.
</p> -->
<!-- <div fxLayout="row" fxLayoutAlign="space-evenly start" class="list-hamburguer"> -->
<!-- <button *ngFor="let product of products" (click)="onAddProduct(product)">
  {{product.pan[0]}}
</button>
<button *ngFor="let product of products" (click)="onAddProduct(product)">
  {{product.pan[1]}}
</button> -->
<!-- </div> -->
