.app-header{
    background: #FFE867;
    font-family: Barlow Semi Condensed, Bold Italic;
    border-radius: 33px;
    height: 50px;
    text-align: center;
    width: 200px;
    font-weight: bold;
}

.header{
    width: 100%;
}

.container-header{
    width: 100vw;
    
}

.header{
    flex-direction: row-reverse;
}
