.app-header{
    background: #FFE867;
    margin: 2px;
    font-family: Barlow Semi Condensed, Bold Italic;
    border-radius: 33px;
    height: 6vh;
    text-align: center;
    width: 15vw;
    font-weight: bold;
}

.header{
    width: 95%;
    margin: 5px;
    padding: 10px;
}




