.app-header{
  background: #FFE867;
  margin: 0;
  padding: 0;
  font-family: Barlow Semi Condensed, Bold Italic, sans-serif;
  border-radius: 33px;
  height: 56%;
  text-align: center;
  width: 22%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
    width: 80vw;
    height: 15vh;
    margin: 0;
    padding: 0;
}

.container-header{
    margin: 0;
    padding: 0;
    /* width: 100vw;
    height: 2vh; */
}

.header img {
  vertical-align: middle;
  width: 6vw;
  padding-right: 1em;
}

.app-header h4 {
  font-size: 2em;
  line-height: 32px;
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-family: Barlow Semi Condensed, Bold Italic, sans-serif;
}


