*{
    font-family: Barlow Semi Condensed, Bold Italic;
    background: #F0F0F0;
    font-size: 16px;
}

.container{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.example-container {
    margin:0;
    padding: 0px;
    width: 60vw;
    height: 16vh;
    
  }
  
  .example-sidenav-content {
    width: 13vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border:2px solid white;
    border-radius: 0 70px 70px 0;
    background: #F7F7F7;
  }
  
  .example-sidenav {
    padding: 0;
    margin: 0;
    /* border: 1px white solid; */
    background: #F7F7F7;
    width: 60vw;
    height: 40vh;
  }

.container2{
    margin:0;
    padding: 0px;
    width: 62vw;
    height: 100vh;
}

.button-menu{
    font-size: 15px;
    border: 1px solid white;
    margin: 0;
    padding: 0px;
    background: white;
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
    justify-content: start;
    align-content: flex-start;
    font-weight: bold;
}

.image{
    width: 10vw;
    background: #F7F7F7;
}

.buttons-list ol button:hover{
    background: #FFE867;
    border-radius: 30px;
}

.list-hamburguer{
    padding: 0;
    margin: 0;
    width: 30vw;
    height: 8vh;
    /* border: 2px solid white; */
}

.buttons-list2{
    background: #F7F7F7;
}

.buttons-list ol{
    width: 13vw;
    height: 50vh;
    margin: 0;
    padding: 0;
}

.container-hamburguers{
    border: 1px solid white;
    margin:0;
    padding: 0;
    width: 30vw;
    height: 16vh;
}
