*{
    font-family: Barlow Semi Condensed, Bold Italic;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.example-container{
    width: 100vw;
    height: 100vw;
    margin:0;
    padding: 0;
  }

.container{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    position: fixed;
    /* background: green; */
}


.container2{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 30vw;
    /* background: green; */
}


.menu-section{
    background: pink;
}

mat-toolbar{
    background: aqua;
}

.button-hamburguer{
    width: 100vw;
    height: 100vh;
}