<div class="container" fxLayout="row" fxLayoutAlign="start">
<div class="example-sidenav-content" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center" class="image">
        <img src="./assets/logo.png" alt="">
    </div>

    <div class="buttons-list">
    <ol>
    <button type="button" mat-button (click)="drawer.toggle()">
    Hamburguesas
    </button>
    <button type="button" mat-button (click)="drawer2.toggle()">
        Pizza
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
        Ensalada
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
        Bebida
    </button>
    <button type="button" mat-button (click)="drawer.toggle()">
        Paquetes
    </button>
    </ol>
    </div>
</div>
    
<div class="container2" fxLayout="column" fxLayoutAlign="center center">
<mat-drawer-container class="example-container" autosize fxLayout="row" fxLayoutAlign="center center">
    <mat-drawer #drawer class="example-sidenav" mode="side" fxLayout="row" fxLayoutAlign="center center">
        <ol fxLayout="column" fxLayoutAlign="center center">
        <button (click)="showFiller = !showFiller" mat-raised-button class="button-menu" >
            Soberbia
        </button>
        <button (click)="showFiller = !showFiller" mat-raised-button class="button-menu">
        Malicia
        </button>
        <button (click)="showFiller = !showFiller" mat-raised-button class="button-menu">
            Gula
        </button>
        <button (click)="showFiller = !showFiller" mat-raised-button class="button-menu">
            Encarnación
        </button>
        </ol>
    </mat-drawer>

    <mat-drawer #drawer2 class="example-sidenav" mode="side">
    <button (click)="showFiller = !showFiller" mat-raised-button class="button-menu">
            Gula
    </button>
    </mat-drawer>


</mat-drawer-container>
</div>

</div>
      







