<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container" fxLayout="row" fxLayoutAlign="start">
  <div class="example-sidenav-content" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="column" fxLayoutAlign="center center" class="image">
      <img src="./assets/logo.png" alt="">
    </div>

    <div class="buttons-list">
      <ol class="buttons-list2" fxLayout="column" fxLayoutAlign="center center">
        <button type="button" mat-button (click)="drawer.toggle();prueba('Hamburguesas')" class="button-mat">
          Hamburguesas
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Pizzas')" class="button-mat">
          Pizza
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Ensaladas')" class="button-mat">
          Ensalada
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Bebidas')" class="button-mat">
          Bebida
        </button>
        <button type="button" mat-button (click)="drawer.toggle();prueba('Paquetes')" class="button-mat">
          Paquetes
        </button>
      </ol>
    </div>
  </div>

  <div class="container2" fxLayout="column" fxLayoutAlign="center start">
    <mat-drawer-container class="example-container" autosize fxLayout="row" fxLayoutAlign="start center">
      <mat-drawer #drawer class="example-sidenav" mode="side" fxLayout="column" fxLayoutAlign="start center">
        <div class="container-hamburguers">

          <div fxLayout="row" fxLayoutAlign="space-evenly start" class="list-hamburguer">
            <button class="nameProduct" *ngFor="let product of products" (click)="onAddProduct(product)">
              {{product.name}}
            </button>
          </div>
        </div>
      </mat-drawer>

    </mat-drawer-container>
  </div>


  <!-- Comanda -->
  <div class="container-order" fxLayout="column" fxLayoutAlign="start start">
    <div class="container2-order" fxLayout="column" fxLayoutAlign="start center">
      <div class="main" fxLayout="row" fxLayoutAlign="start start">
        <p>Mesa 1</p>
        <button class="mdl-button mdl-button--fab">
          <mat-icon class="icon">person_add</mat-icon>
        </button>
      </div>


      <table mat-table [dataSource]="dataSource" class="table">
        <div matColumnDef="orderNumber">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element"> Orden #{{element.orderNumber}} </td>
        </div>
        <div matColumnDef="customerName">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element">Cliente: {{element.customerName}} </td>
        </div>
        <div matColumnDef="actions">
          <p mat-header-cell *matHeaderCellDef></p>
          <td mat-cell *matCellDef="let element">
            <mat-icon (click)="onChangeStatus(element)">edit</mat-icon>
            &nbsp;
            <mat-icon (click)="onDelete(element.id)">clear</mat-icon>
          </td>
        </div>
        <!-- <tr mat-header-row></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>




      <br>
      <div class="section-person" fxLayout="row" fxLayoutAlign="space-around start">
        <p>Persona 1</p>
        <p>$</p>
        <!-- <div matColumnDef="products">
            <p mat-header-cell *matHeaderCellDef></p>
            <td mat-cell *matCellDef="let element">{{element.products}} </td>
          </div> -->
      </div>
      <div class="orders-person">
        <ul class="collection" fxLayout="column" fxLayoutAlign="start start">
          <li *ngFor="let order of tempOrder">
            <a (click)="removeItemOrder(order)">
              <mat-icon class="clear">clear</mat-icon>
            </a>
            <span>{{order}}</span>
          </li>
        </ul>
      </div>

      <div class="section-person2" fxLayout="row" fxLayoutAlign="space-around start">
        <p>Total</p>
        <p>$ <span>{{totalOrder}}</span></p>
      </div>
      <br>
      <button class="btn-sendOrder" (click)="onSubmit()">Enviar a cocina</button>

      <!-- </div> -->

    </div>
  </div>
</div>


<!-- Especificaciones de producto -->


<!-- <div fxLayout="column" fxLayoutAlign="start center"> -->
<!-- <fieldset>
    <label>
      <input type="radio" name="size" value="50">Individual ($50)
    </label>
    <label>
      <input type="radio" name="combo" value="65">
    </label> En combo ($65)
  </fieldset> -->
<!-- </div> -->

<!-- <div fxLayout="column" fxLayoutAlign="start center"> -->
<!-- <fieldset>
    <legend>Pan:</legend>
    <label>
      <input type="radio" name="pan" value="pan">
    </label>Masa madre
    <label>
      <input type="radio" name="ingredients" value="ingredients">
    </label> Tradicional
  </fieldset> -->
<!-- </div> -->

<!-- <div fxLayout="column" fxLayoutAlign="start center"> -->
<!-- <fieldset>
    <legend>Ingredientes:</legend>
    <label>
      <input type="radio" name="pan" value="pan">
    </label>Masa madre
    <label>
      <input type="radio" name="ingredients" value="ingredients">
    </label> Tradicional
  </fieldset>
  <p>Especificaciones: <input class="especifics" type="text"></p> -->
<!-- </div> -->




<!-- </div> -->

<!-- </div> -->
<!-- </div> -->
