* {
    font-family:'Barlow Semi Condensed', Bold Italic;
    
  }
  
  .container {
    width: 40vw;
    height: 60vh;
    background: #F7F7F7;
    border-radius: 10px;
    opacity: 1;
  }

  .container2{
    width: 39vw;
    height: 59vh;
  }


  
  .boxText {
    height: 15vh;
    width: 40vw;

  }

  
  .nameProduct {
    text-align: left;
    font-family: 'Barlow', Bold sans-serif;
    font-size: 56px;
    letter-spacing: 0;
    color: #000000;
    margin: 0;
    padding: 0;
    width: 22vw;
  }
  
  .contend-btn {
    height: 60vh;
    width: 60vw;

    /* display: flex;
    justify-content: flex-end; */
  }
  .save-btn {
    margin: 2em 0;
    width: 90px;
    height: 37px;
    background: #F7F7F7 ;
    border:  #F7F7F7 solid 1px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 24px;
    text-align: center;
    font-family: 'Barlow', ExtraBold sans-serif;
    font-size: 14px;
    color: #000000;
  
  }
  
  .cancel-btn {
    margin: 2em 2em 2em 1em;
    width: 90px;
    height: 37px;
    background: #F7F7F7 ;
    border:  #F7F7F7 solid 1px;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 24px;
    text-align: center;
    font-family: 'Barlow', ExtraBold sans-serif;
    font-size: 14px;
    color: #000000;
  
  }
  
  /* button:hover{
    background-color: #FFE867;
    border-radius: 20px;
    height: 4vh;
    width: 4vw;
  } */
  
  fieldset {
    border: none
  }
  
  .especifics {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: black solid 1px;
    background: #F7F7F7;
    color: black;
  }

  .content-btn{
    width: 40vw;
    height: 10vh;
  }

  .button-icon{
    background: transparent;
    border: none;
  }

  .placeholder{
    width: 3.5vw;
    background: #FFE867;
    border: none;
    text-align: center;
  }


  .list-product{
    margin: 0;
    padding: 0;
  }
  /* .counter{

  } */