<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet"> -->

<!-- <div class="container" fxLayout="column" fxLayoutAlign="start center">
  <div class="container2" fxLayout="column" fxLayoutAlign="start center">

    <div fxLayout="row" fxLayoutAlign="start start" class="boxText">


      <button class="nameProduct" *ngFor="let product of products" (click) = "onAddProduct(product)">
        {{product.name}}
      </button>

    
    </div> -->


      <!-- <div fxLayout="column" fxLayoutAlign="start center">
      <fieldset>
        <label>
          <input type="radio" name="size" value="50">Individual ($50)
        </label>
        <label>
          <input type="radio" name="combo" value="65">
        </label> En combo ($65)
      </fieldset>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center">
      <fieldset>
        <legend>Pan:</legend>
        <label>
          <input type="radio" name="pan" value="pan">
        </label>Masa madre
        <label>
          <input type="radio" name="ingredients" value="ingredients">
        </label> Tradicional
      </fieldset>
      </div>

      <div fxLayout="column" fxLayoutAlign="start center">
      <fieldset>
        <legend>Ingredientes:</legend>
            <label>
              <input type="radio" name="pan" value="pan">
            </label>Masa madre
            <label>
              <input type="radio" name="ingredients" value="ingredients">
            </label> Tradicional
          </fieldset>
          <p>Especificaciones: <input class="especifics" type="text"></p>
      </div>


        <div class="content-btn" fxLayout="row" fxLayoutAlign="center center">
          <button class="save-btn" (click)="onSubmit()">
            Guardar
          </button>
          <button class="cancel-btn" >
            Cancelar
          </button>

        </div>
      </div>
    </div>
    <div>
        <mat-form-field>
            <input matInput #orderNumber maxlength="3" placeholder="Número de Orden">
          </mat-form-field>
          <mat-form-field>
              <input matInput #Customer maxlength="3" placeholder="Cliente">
          </mat-form-field>
          <button class="btn-send">Enviar</button>
        </div> -->


      <!-- <ul class="collection">
        <li *ngFor="let order of tempOrder">
            <span>{{order}}</span>
        </li>
      </ul> -->
      
      