<mat-grid-list cols="12" rowHeight = "111px">

</mat-grid-list>

<div fxLayout="column" class="col-orders" fxLayoutAlign="center center">
  <div class= "container-button" fxLayout= "row" fxLayoutAlign = "flex-start">
    <button  mat-stroked-button
             (click)="openDialog()"
             class="btn-state-orden"
             matBadge = "3"
             matBadgePosition="before"
             matBadgeSize="large"
             matBadgeColor="accent"
    >ORDENES ABIERTAS</button>

    <!-- <button  mat-stroked-button
            (click)="openDialog()"
            class="btn-state-orden"
    >$</button> -->
  </div>


  <div fxLayout= "row" fxLayoutAlign = "center center">
    <button  mat-stroked-button
             [routerLink]="['/bill']"
             routerLinkActive="router-link-active"
             class="btn-pay-orden"
    >$</button>
  </div>
</div>

