<!-- Botones de barra superior de barra con Layout -->
<!-- routerLinkActive="active"   routerLink="/take-order" se agrega a cada boton para dirigir a los botones a una nueva pagina y componente en este caso a take-order . -->
<div class="container" fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="center center" class="btn-circule">

        <button class="mdl-button mdl-button--fab"
           id="change-color" (click)="table()">1</button>
        <!-- silvia -->
        <button 
            class="mdl-button mdl-button--fab">2</button>
        <button class="mdl-button mdl-button--fab" 
        routerLinkActive="active">3</button>
        <button 
          class="mdl-button mdl-button--fab">4</button>
    </div>

    <br>
    <br>

    <!-- Botones de mesas -->
    <div fxLayout="row" fxLayoutAlign="center center" class="btn-square">
        <button class="mdl-button mdl-button--raised" (dblclick)="openModal()" cdkDrag>Mesa 1</button>
        <button class="mdl-button mdl-button--raised" (dblclick)="openModal()" cdkDrag>Mesa 2</button>
    </div>
    <br>
    <br>
    <!-- Boton de mesa del centro -->
    <div fxLayout="row" fxLayoutAlign="center center" class="btn-square-bg">
        <button class="mdl-button mdl-button--raised rectangule" (dblclick)="openModal()" cdkDrag>Mesa 3</button>
    </div>
    <br>
    <br>
    <!-- Botones de barra inferior -->
    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="mdl-button mdl-button--fab" (click)="openModal()">5</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()">6</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()">7</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()">8</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()">9</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()"> 10</button>
        <button class="mdl-button mdl-button--fab" (click)="openModal()">11</button>
        <button class="mdl-button mdl-button--fab" routerLinkActive="active" routerLink="/bill">12</button>
    </div>
    <br>
    <br>
    <!-- Botones de mesas de pantalla inferior -->
    <div fxLayout="row" fxLayoutAlign="center center" class="btn-square-bg2">
        <button class="mdl-button mdl-button--raised" (dblclick)="openModal()" cdkDrag>Mesa 4</button>
        <button class="mdl-button mdl-button--raised" (dblclick)="openModal()" cdkDrag>Mesa 5</button>
    </div>
</div>