



<div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-circule">
    <button class="mdl-button mdl-button--fab" id="change-color">1</button>
    <button class="mdl-button mdl-button--fab">2</button>
    <button class="mdl-button mdl-button--fab">3</button>
    <button class="mdl-button mdl-button--fab">4</button>
</div>
<br>
<br>
<div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-square">
    <button class="mdl-button mdl-button--raised">Mesa 1</button>
    <button class="mdl-button mdl-button--raised">Mesa 2</button>
</div>
<br>
<br>
<div  fxLayout = "row"  fxLayoutAlign = "center center" class="btn-square-bg">
    <button class="mdl-button mdl-button--raised rectangule">Mesa 3</button>
</div>
<br>
<br>
<div  fxLayout = "row"  fxLayoutAlign = "center center">
    <button class="mdl-button mdl-button--fab">5</button>
    <button class="mdl-button mdl-button--fab">6</button>
    <button class="mdl-button mdl-button--fab">7</button>
    <button class="mdl-button mdl-button--fab">8</button>
    <button class="mdl-button mdl-button--fab">9</button>
    <button class="mdl-button mdl-button--fab">10</button>
    <button class="mdl-button mdl-button--fab">11</button>
    <button class="mdl-button mdl-button--fab">12</button>
</div>
<br>
<br>
<div  fxLayout = "row"  fxLayoutAlign = "center center">
    <button class="mdl-button mdl-button--raised">Mesa 4</button>
    <button class="mdl-button mdl-button--raised">Mesa 5</button>
</div>

