
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>


<!-- Llamada del componente Header -->

<app-lateral-bar class="lateral-bar">
    <app-header class="header"><app-prueba class="mesas"></app-prueba></app-header>
</app-lateral-bar>

