
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js"></script>

<app-lateral-bar class="lateral-bar">
    <app-header class="header">
        <app-prueba class="mesas"></app-prueba>
    </app-header>
    <app-state-orden></app-state-orden>
    <app-orden-pay></app-orden-pay>
</app-lateral-bar>

