<!-- <div class="modalOrden">
    <mat-form-field class= "input-order">
        <input matInput placeholder="Order Number"> 
    </mat-form-field>
    <mat-form-field class= "input-customer">
        <input matInput placeholder="Customer">         
    </mat-form-field>
    <button mat-raised-button routerLinkActive="active"   routerLink="/take-order">Enviar</button>
</div> -->

<form [formGroup]="this.orderService.myForm" (ngSubmit)="onSubmit()" class="modalOrden">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput #orderNumber maxlength="3" placeholder="Order Numbrer" formControlName="orderNumber">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput #customerName maxlength="13" placeholder="Customer" formControlName="customerName">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <button class="btn-send" routerLinkActive="active"   routerLink="/take-order" [mat-dialog-close]="true">Enviar</button>
            </td>
          </tr>
        </table>
      </form>
