<div class="container-table"  >
    <div class="table">
        <p>Mesa 1</p>
        <app-timer></app-timer>
        <span>${{totalOrder}}</span>
    </div>
    
    <div class="table">
        <p>Mesa 2</p>
        <p> 0:00 </p>
        <p>$140</p>
    </div>
    
    <div class="table">
        <p>Mesa 3</p>
        <p> 0:00 </p>
        <p>$140</p>
    </div>
    
    <div class="table">
        <p>Mesa 4</p>
        <p> 0:00 </p>
        <p>$140</p>
    </div>
    
    <div class="table">
        <p>Mesa 5</p>
        <p> 0:00 </p>
        <p>$140</p>
    </div>
    
    <div class="table">
        <p>Mesa 6</p>
        <p> 0:00 </p>
        <p>$140</p>
    </div>
</div>


