
<div mat-dialog-content >
  <h1 mat-dialog-title>EFECTIVO</h1>
  <ul>
    <li>
     Total por pagar :  <p></p>
    </li>
    <li>
     Total con propina (10%): <p></p>
    </li>
    <li>
     Paga con:  <p></p>
    </li>
    <li>
      Cambio:  <p></p>
    </li>
  </ul>

<br>
<br>  
<div  fxLayout = "row"   fxLayoutAlign="space-around" class="">
  <button mat-raised-button class="btn-cancel" > Cancelar</button>
  <button mat-raised-button class="btn-pay">Pagar</button>
</div>  
<br>

  <mat-grid-list cols="3" rowHeight="30px" class="container-bill">
    
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button class="button-number">1</button>
      </mat-grid-tile>    
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" > 
          <button class="button-number">2</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button class="button-number">3</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">  
          <button class="button-number">4</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" >  
          <button class="button-number">5</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">
          <button class="button-number">6</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile" >
          <button class="button-number">7</button>  
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">
          <button class="button-number">8</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile">  
          <button class="button-number">9</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile gray">
         
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile " >
          <button class="button-number">0</button>
      </mat-grid-tile>
      <mat-grid-tile [colspan]=1 [rowspan]=1 class="tile"> 
          <button  class="button-delete">Borrar</button> 
      </mat-grid-tile>
  </mat-grid-list>
</div>
