*{
  font-family: 'Barlow Semi Condensed', Bold Italic;
}


.container{
  border: #F7F7F7  solid 1px;
  border-radius: 20px 0 0 30px;
  background-color: #F7F7F7;
  width: 25vw;
  height: 100vh;
  font-family: Barlow Semi Condensed, Bold, serif;
  font-size: 34px;
  padding: 10px;
  margin: 0;
  display: grid;
  grid-template-areas: "numTable"
                        "order"
                        "total"
                        "sent"  ;
  grid-template-rows: auto ;
  grid-template-columns: auto;
}

.numTable{
  grid-area: numTable;
  background: red;
}

.order{
  grid-area: order;
  background: #FFE867;
}

.main p{
  font-size:25px;
  font-weight: bold;
  margin: 10px;
  padding: 0;
}

.mdl-button--fab{
  padding: 0;
  margin: 0;
  border-radius: 50px;
}

.name-order p{
  margin: 0;
  padding: 0;
}

.person-order p{
  margin: 0;
  padding: 0;
  width: 10vw;
  height: 5vh;
  background: #FFE867;
  opacity: .29;
}

.person-order2 p{
  margin: 0;
  padding: 0;
  width: 10vw;
  height: 5vh;
  background: #FFE867;
  opacity: .29;
}


.person-order{
  width: 20vw;
  height: 30vh;
}

.count p{
  margin: 0;
  padding: 0;
  width: 10vw;
}

.total p{
  margin: 0;
  padding: 0;
  width: 8vw;
}

.count{
  width: 20vw;
  height: 4vh;
}

.total{
  width: 20vw;
  height: 4vh;
}
