*{
  font-family: 'Barlow Semi Condensed', Bold Italic;
}


.container{
  border: #F7F7F7  solid 1px;
  border-radius: 20px 0 0 30px;
  background-color: #F7F7F7;
  width: 25vw;
  height: 100vh;
  font-family: Barlow Semi Condensed, Bold, serif;
  font-size: 34px;
  padding: 10px;
  margin: 0;
}

.container2{
  margin: 0;
  padding: 0;
}

.main p{
  font-size:25px;
  font-weight: bold;
}

.button-person{
  background: white;
}