.container{
  border: #F7F7F7  solid 1px;
  border-radius: 30px 0 0 30px;
  background-color: #F7F7F7;
  width: 25vw;
  height: 100vh;
  font-family: Barlow Semi Condensed, Bold, serif;
  font-size: 34px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-areas: "numTable"
                        "order"
                        "total"
                        "sent"  ;
  grid-template-rows: auto ;
  grid-template-columns: auto;
}

.numTable{
  grid-area: numTable;
  background: red;
}

.order{
  grid-area: order;
  background: #FFE867;
}

.total{
  grid-area: total;
  background: aqua;
}

.sent{
  grid-area: sent;
  background: blueviolet;
}
